@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebMedium.eot');
  src: url('../fonts/ColfaxWebMedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebMediumItalic.eot');
  src: url('../fonts/ColfaxWebMediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebRegular.eot');
  src: url('../fonts/ColfaxWebRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebRegularItalic.eot');
  src: url('../fonts/ColfaxWebRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebLight.eot');
  src: url('../fonts/ColfaxWebLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/ColfaxWebLightItalic.eot');
  src: url('../fonts/ColfaxWebLightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Colfax', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: bold;
}

.reveal a, .pd-green {
  color: #47BA04;
}

.reveal a:hover {
  color: #3C0;
}

::selection {
  background: #47BA04;
}

::-moz-selection {
  background: #47BA04;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal a:hover img {
  border-color: #47BA04;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

div.slide-background.present[data-background-hash]:not([data-background-hash*="pagerduty.github.io/gitpitch-deck"]) {
  opacity: 0.45; /* dim custom background images */
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #47BA04; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #47BA04; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #47BA04; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #47BA04; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #3C0; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #3C0; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #3C0; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #3C0; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress span {
  background: #47BA04;
}

/*********************************************
 * LOGO
 *********************************************/
body div:first-child img {
  width: 100%;
}

/*********************************************
 * DECK-SPECIFIC
 *********************************************/
#image-credits + ul {
  font-size: 0.5em;
}

.reveal figcaption {
  font-size: 0.4em;
}

.reveal p + figcaption {
  position: relative;
  top: -4em; /* If this is an inline image caption, move it up a bit */
}
